@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inputCity {
    font-size: 1.5rem;
    padding: 0.7rem;
    border: none;
    border-radius: 20px;
}

.inputCity:focus {
    outline: none;
}

.tempinfo {
    margin: 2rem;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    color: black;
    border-radius: 20px;
    padding: 25px;
    background-color: white;
    opacity: 0.6;
}
